.top-blog {
  &__container {
    margin-top: 50px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    list-style: none;
  }

  &__item {
    flex-basis: calc((100% - 4 * 10px) / 4);

    &--link {
      figure {
        position: relative;
        overflow: hidden;
        padding-top: 60%;

        img {
          @include absCenter;
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }

      h3 {
        font-size: 1.6rem;
      }

      p {
        font-size: 1.4rem;
      }
    }

    &--meta {
      color: $cBlack;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 1.2rem;
      // font-weight: bold;
      margin-top: 15px;

      time {
        position: relative;
        padding-right: 16px;
        font-weight: bold;

        &::before {
          content: "";
          position: absolute;
          background: $cBlack;
          width: 1px;
          height: 14px;
          right: 0;
          top: calc(50% - 7px);
        }
      }

      span {
        padding: 2px 4px;
        font-size: 1rem;
        color: $cWhite;
        background: $cRed-1;
      }
    }

    &--details {
      color: $cBlack;
      font-size: 1.2rem;
      margin-top: 10px;
    }
  }
}
