.drawer {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  &__backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }

  &__nav {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 280px;
  }

  &__button {
    cursor: pointer;
    position: absolute;
    top: 4rem;
    right: 4rem;
    background: transparent;
    svg {
      fill: $cWhite;
      height: 4.6rem;
      width: 4.6rem;
    }
  }

  &__list {
    margin-top: 10rem;
  }

  &__item {
    border-width: 0 0 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.2);

    a {
      display: block;
      position: relative;
      padding: 1em;
      color: ivory;
      line-height: 1.2;
      text-decoration: none;
    }

    &:first-child {
      border-top-width: 1px;
    }
  }
}







.Nav {
  overflow: auto;
  background: $cNavy-dark;
}


.drawer[aria-expanded] {
  transition-property: visibility;
  transition-duration: 0.25s;
}

.drawer[aria-expanded] .drawer__backdrop {
  transition-property: opacity;
  transition-duration: 0.25s;
  transition-timing-function: linear;
}

.drawer[aria-expanded] .drawer__nav {
  transition-property: transform;
  transition-duration: 0.25s;
  transition-timing-function: ease;
}

/* 開いているとき */
.drawer[aria-expanded="true"] {
  visibility: visible;
}

.drawer[aria-expanded="true"] .drawer__backdrop {
  opacity: 1;
}

.drawer[aria-expanded="true"] .drawer__nav {
  transform: translateX(0);
}

/* 閉じているとき */
.drawer[aria-expanded="false"] {
  visibility: hidden;
}

.drawer[aria-expanded="false"] .drawer__backdrop {
  opacity: 0;
}

.drawer[aria-expanded="false"] .drawer__nav {
  transform: translateX(100%);
}
