.hero {
    padding-top: 80px;
    overflow: hidden;
    &__inner {
        position: relative;
        height: calc(100vh - 80px);
    }

    .swiper-container {
        overflow: visible !important;
        position: relative;

    }

    .swiper-slide {
        box-shadow: $shadow-1;
        height: calc(100vh - 80px);
        width: 100%;
        overflow: hidden;

        img {
            @include of($of_width:100%,$of_height:100%);
        }
    }

    &__img {
        max-width: 150px;
        margin: 0 auto;
        overflow: hidden;
        position: relative;
        padding-bottom: 12%;
        img {
            @include absCenter;
            @include of($of_width:100%,$of_height:100%);
        }
    }

    &__txt {
        font-weight: bold;
        padding: 50px;
        background: rgba(255, 255, 255, 0.8);
        color: $cBlack;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        text-align: center;
        border: 1px solid $cGray-2;
        outline: 2px solid $cGray-2;
        outline-offset: 4px;
        border-radius: 6px;
        p {
            margin-top: 10px;
            font-size: 1.6rem;
            letter-spacing: 0.1em;
            font-weight: 500;
            padding: 20px 10px;
        }
    }
}
