.IndexNews {
  &__inner {
    padding: 20px 40px; 
    @extend .l-content__width;
    border: 1px solid $cGray-2;
    border-top: none;
    @include breakpoint-up(phone) {
      padding: 50px 80px;
    }
  }

  &__list {
    margin: 40px 0 0 0;
    width: 100%;
    display: inline-block;
    flex-wrap: wrap;
    justify-content: flex-start;

    @include breakpoint-up(tab-port) {
      display: flex;
    }
  }

  &__item {
    position: relative;
    width: 100%;
    margin: 0 40px 20px 0;
    padding-bottom: 20px;
    display: flex;
    align-items: center;

    @include breakpoint-up(tab-port) {
      width: calc((100% - 40px) / 2);

      &:nth-child(2n) {
        margin-right: 0;
      }
    }

    &::before {
      content: " ";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 1px;
      top: auto;
      bottom: 0;
      background: #eb2f64;
      opacity: .3;
    }
  }

  &__img {
    position: relative;
    overflow: hidden;
    padding-bottom: 60%;

    img {
      @include absCenter;
      @include of($of_width:100%,$of_height:100%);
    }
  }

  &__date {
    color: $cBlack;
    align-self: center;
    width: 75px;
    display: inline-block;

    span {
      display: block;
      line-height: 1;
      font-size: 1.2rem;
      margin-bottom: 4px;
    }

    strong {
      display: block;
      line-height: 1;
      font-size: 3.4rem;
      font-weight: 500;
    }
  }

  &__category {
    align-self: center;
    margin-right: 20px;
    text-align: center;
    display: none;
    width: 80px;
    padding: 5px 0;
    font-size: 1rem;
    border-radius: 20px;
    background: $cRed-1;
    font-weight: 500;

    @include breakpoint-up(phone) {
      display: block;
    }

    a {
      color: $cWhite;
    }
  }

  &__name {
    width: 100%;
    align-self: center;
    margin-right: auto;

    @include breakpoint-up(tab-port) {
      width: calc(100% - 210px);
    }
  }

  i {
    display: block;
    position: relative;
    top: 0;
    right: 20px;
    width: 0;
    height: 0;
    border: 6px solid;
    border-color: $cBlack $cBlack transparent transparent;
    transform: rotate(45deg);

    &::before {
      content: "";
      position: absolute;
      right: -4px;
      top: -4px;
      width: 0;
      height: 0;
      border: solid;
      border: 5px solid;
      border-color: $cBgGray $cBgGray transparent transparent;
    }
  }
}
