.footer {
  margin-top: 200px;
  background-color: $cWhite;
  height: 50px;
  width: 100%;
  bottom: 0px;

  p {
      font-size: 11px;
      line-height: 50px;
      color: $cBlack;
      text-align: center;
      letter-spacing: 1.5px;
  }
}
