.menuNav {
  &__inner {
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    &--new {
      background: $cWhite;
    }
  }

  &__item {
    cursor: pointer;
    position: relative;
    width: 100%;
    height: 6rem;
    display: flex;
    flex: 1 0 50%;
    transition: .1s;

    &--Index {
      &::after {
        position: absolute;
        border: 1px solid #ccc;
        content: "";
        margin-left: -1px;
        margin-top: -1px;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
      }
    }

    @include breakpoint-up(phone) {
      flex-basis: calc(100% / 4);
    }

    &.active {
      background: $cBlack;
      color: $cWhite;
    }
  }
  &__title {
      flex-grow: 1;
      padding: .5rem 1rem;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      span {
        font-size: 1.6rem;
        font-weight: 500;
      }
  }

  &__list--menu {
    width: 100%;
    overflow: hidden;
    margin-top: -1px;
  }
}
