.btn {
  position: relative;
  display: inline-block;
  background: $cBlack;
  border: 1px solid $cBlack;
  font-weight: 600;
  padding: 10px 8px;
  font-size: 1.4rem;
  cursor: pointer;
  transition: all 0.3s;
  color: $cWhite;
  text-decoration: none !important;
  // border: 1px solid $cWhite;
  
  &.slide-bg {
    position: relative;
    overflow: hidden;
    z-index: 1;

    &::before {
      content: "";
      display: inline-block;
      width: 100%;
      height: 100%;
      background: $cWhite;
      position: absolute;
      top: 0;
      left: 0;
      transform: translateX(-100%);
      transition: transform 0.3s;
      z-index: -1;
    }

    &:hover {
      color: $cBlack;

      &::before {
        transform: none;
      }
    }
  }
}

.view-btn {
  font-weight: bold;
  color: $cBlack;
  position: relative;
  padding-right: 30px;
  padding-bottom: 7px;

  &::after {
    content: "";
    position: absolute;
    background: $cBlack;
    width: 100%;
    height: 1px;
    left: 0;
    bottom: 0;
  }
}
