.sectionHeading {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 0;
  margin-bottom: 20px;
  border-bottom: 1px solid $cGray-2;
  h2 {
    font-size: 2.4rem;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-weight: 500;
  }
  p {
    font-size: 1.4rem;
    padding-left: 12px;
  }
}
